@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/dan-meyers-IQVFVH0ajag-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1); /* Soft dark overlay */
  z-index: -1;
}